.btn {
  background-color: #FFFFFF;
  border-color: #DBDBDB;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: 10px 14px;
  text-align: center;
  white-space: nowrap
}
.btn .is-black {
  background-color: #0A0A0A;
  border-color: transparent;
  color: #FFFFFF
}
